<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.manoj.clicker.dawn">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.CHOOSER" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SecondActivity"
            android:label="SecondActivity" />
        <activity
            android:name=".DrawingActivity"
            android:label="Drawing" />
        <activity android:name=".Data" />
        <activity android:name=".OpenedClass" />
        <activity
            android:name=".AboutUs"
            android:label="About Us"
            android:theme="@android:style/Theme.Dialog">
            <intent-filter>
                <action android:name="com.dawn.ABOUT" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Prefs"
            android:label="Prefs">
            <intent-filter>
                <action android:name="com.dawn.PREFS" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".GFX" />
        <activity android:name=".GFXSurface" />
        <activity android:name=".SoundStuff" />
        <activity
            android:name=".Slider"
            android:label="Slider" />
        <activity
            android:name=".Tabs"
            android:label="Tabs" />
        <activity
            android:name=".SimpleBrowser"
            android:label="Browser" />
        <activity
            android:name=".Flipper"
            android:label="Flipper" />
        <activity
            android:name=".SharedPrefs"
            android:label="Shared Prefs" />
        <activity
            android:name=".ExternalData"
            android:label="External Data" />
        <activity
            android:name=".SQLiteExample"
            android:label="SQLite" />
        <activity
            android:name=".SQLView"
            android:label="SQLView" />
        <activity
            android:name=".Accelerate"
            android:label="Accelarate" />
        <activity
            android:name=".HttpExample"
            android:label="Http Example" />

        <receiver
            android:name=".PointlessWidget"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />

            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/appwidget_provider" />
        </receiver>

        <activity
            android:name=".WidgetConfig"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>
        <activity android:name=".GLExample" />
        <activity android:name=".GLCubeEx" />
        <activity android:name=".Voice" />
        <activity android:name=".TextVoice" />
        <activity android:name=".StatusBar" />
        <activity android:name=".SeekBarVolume" />
    </application>

</manifest>